

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div *ngIf="errorMessageStatus">
                <div class="alert alert-danger flipInX animated">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{errorMessage}}
                </div>
            </div>
            <div class="panel panel-default margin-bottom-10" *ngIf="survey">
                <div class="panel-heading">
                    <h2>{{survey.name}}</h2>
                </div>
                <div class="panel-body" id="table-panel">
                    <div *ngFor="let question of survey.questions; let i= index">
                        <h3 class="inline-show">{{i+1}}. &nbsp;<div [froalaView]="question.text"></div></h3>
                        <div *ngFor="let option of question.options; let j= index" class="inline-show">
                            ({{j+1}}) &nbsp;<div [froalaView]="option.text"></div>
                            <span *ngIf="surveyResponseMap[question.id] === option.id">&nbsp;&nbsp;&nbsp;<i class="fa fa-check-circle font-size-glyph" aria-hidden="true"></i></span>
                        </div>
                        <!-- <div id="answerBlock" class="inline-show">
                            Your Selected Option: &nbsp;<b><div *ngIf="surveyResponseMap[question.id]" [froalaView]="surveyResponseMap[question.id]"></div><div *ngIf="!surveyResponseMap[question.id]">(Not Answered)</div></b>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>