<div class="secondary" id="headLine">
    <div class="container">
        <h2>{{survey.name}}</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div *ngIf="errorMessageStatus">
                <div class="alert alert-danger flipInX animated">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{errorMessage}}
                </div>
            </div>
            <div class="panel panel-default margin-bottom-10">
                <div class="panel-heading">
                    <h2>{{survey.name}}</h2>
                </div>
                <div class="panel-body" id="table-panel">
                    <div *ngFor="let question of survey.questions; let i= index">
                        <h3>{{i+1}}. {{question.text}}</h3>
                        <div *ngFor="let option of question.options; let j= index">
                            ({{j+1}}) {{option.text}}
                        </div>
                        <div id="answerBlock">
                            Your Selected Option: <b>{{surveyResponseMap[question.id]}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<side-navbar></side-navbar>