a {
    text-decoration: none;
}

.btn-small {
    width: 10%;
}

.btn-medium{
    width: 20%;
    margin-left: 1%;
}

#answerBlock {
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 120%;
}

.inline-show{
    display: flex;
}
.font-size-glyph{
    font-size: 18px;
}