<div>
        <div class="container-fluid fadeIn animated">
                <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 box">
                    <div class="panel panel-default">
                        <div class="panel-body">Forgot Password</div>
                    </div>
                    <div *ngIf="infoMessageStatus">
                        <div class="{{infoMessageClass}} flipInX animated">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{infoMessage}}
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" name="email" #email />
                        </div> 
                        <div class="form-group margin-top-5 text-center">
                            <button  class="btn btn-success" (click)="recoverPassword(email.value);" >Recover</button>
                        </div>
                    </form>
                            
                      </div>
                <div class="col-sm-4"></div>
                </div>
        </div>
    </div>