a {
    text-decoration: none;
}

.btn-small {
    width: 10%;
    margin-bottom: 20px;
}

.btn-medium{
    width: 20%;
    margin-left: 1%;
}

.inline-show{
    display: flex;
}

.canvas {
    height: 200px;
}

.draw-chart{
    min-height: 400px;
}