
.survey-back{
  /* background: url("../../../assets/survey_new.png"); */
  height: auto;
  /* margin-top: -1%; */
}

.panel {
  border-radius: 0px;
  margin : 0% -5% 5% -5%;
  font-weight: bold;
  text-align: center;
  border: 0px;
  background: #009cdb;
  color: white;
  font-size: 20px;
}

.btn-success {
  background : #009cdb;
  border: 0px;
}

.row{
    margin-bottom: 5%;
  }