<div class="container" *ngIf="survey">
        <div *ngIf="errorMessageStatus">
            <div class="{{errorMessageClass}}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{errorMessage}}
            </div>
        </div>
        <div *ngIf="survey.status == 'LIVE' else elseBlock" class="panel panel-default margin-bottom-10">
            <div class="panel-heading">
                <span><h2>{{survey.name}}</h2></span>
            </div>
            <div class="panel-body">
                <form [formGroup]="surveyForm" novalidate>
                    <!--questions-->
                    <div class="form-group">
                        <div class="panel panel-default" *ngFor="let question of survey.questions; let i=index" [ngClass]="{'requiredError': isSubmited && surveyForm.controls.response.controls[i].errors , 'has-success': !surveyForm.controls.response.controls[i].errors}">
                            <div class="card-body text-left" >
                                <h4 class="panel-heading inline-show">{{i+1}}.&nbsp; <span [froalaView]="question.text"></span><span *ngIf="question.required" class="required">*</span><span *ngIf="isSubmited && surveyForm.controls.response.controls[i].errors">(Question in mandatory)</span></h4>
                                <div formArrayName="response">
                                    <div *ngFor="let option of question.options; let j=index">
                                        <div class="radio radio-btn">
                                            <label>
                                                <input type="radio" value="{{option.id}}" [formControlName]="i" >
                                                <div [froalaView]="option.text"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div *ngIf="isSubmited && !surveyForm.controls.response.controls[i].valid"
                            class="alert alert-danger">
                                <div *ngIf="surveyForm.controls.response.controls[i].errors.required">
                                    Option is required
                                </div>
                            </div>  -->
                        </div>
                    </div>
                    <button mat-raised-button class="success-btn float-right"
                    (click)="isSubmited = true;submitSurvey();">Submit</button>
                </form>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Survey is not Live.
            </div>
        </ng-template>
    </div>



 