<div class="secondary" id="headLine">
    <div class="container"><h2>Create new survey</h2></div>
</div>
<div class="container">
    <div *ngIf="errorMessageStatus">
        <div class="{{errorMessageClass}}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{errorMessage}}
        </div>
    </div>

  <div class="panel panel-default">
      <div class="panel-heading">
          <div class="row">
              <div class="col-md-6">
                  <h2>Create Survey</h2>
              </div>
              <div class="col-md-6 text-right">
                  
              </div>
          </div>
      </div>
      <div class="panel-body">
          <form [formGroup]="surveyForm" novalidate>
              <div class="form-group input-group-lg">
                  <label for="name">Survey Name</label>
                  <input id="name" 
                      type="text" 
                      formControlName="surveyName" 
                      class="form-control input-lg"
                      placeholder="Name" 
                      name="name">
                  <div *ngIf="!surveyForm.controls['surveyName'].valid && surveyForm.controls['surveyName'].touched"
                  class="alert alert-danger">
                      <div *ngIf="!surveyForm.controls['surveyName'].errors.required && surveyForm.controls['surveyName'].errors.whitespace">
                          Name must be valid
                      </div>
                      <div *ngIf="surveyForm.controls['surveyName'].errors.required">
                          Name is required
                      </div>
                  </div> 
              </div>
              <div class="form-group">
                  <label for="description">Survey Description</label>
                  <input id="description" class="form-control input-sm" formControlName="surveyDesc" type="text" placeholder="Survey Description">
              </div>
              <div class="form-group">
                  <label for="labels">Add Labels</label>
                  <div class="input-group">
                      <input placeholder="Labels"
                          id="labels"
                          class="form-control input-sm" 
                          [matChipInputFor]="labelList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)" />
                  </div>
              </div>
              <mat-chip-list #labelList>
                  <mat-chip *ngFor="let label of labels" [selectable]="selectable"
                              [removable]="removable" (remove)="remove(label)">
                      {{label}}
                      <span matChipRemove><i class="fa fa-times fa-lg" *ngIf="removable"></i></span>
                  </mat-chip>
              </mat-chip-list>
              <hr>
              <div class="col-12" style="text-align: right; font-size: 20px">
                  <span class="btn-icon" matTooltip="Add Question Below" (click)="addQuestion()"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </div>
              <!--questions-->
              <div formArrayName="surveyQuestions">
                  <div *ngFor="let question of surveyForm.controls.surveyQuestions.controls; let i=index" class="form-group" >
                      <div [formGroupName]="i">
                          <div class="form-group">
                              <label for="question">Question</label>
                              <textarea id="question" [froalaEditor]="questionEditor" class="form-control"  formControlName="questionText"></textarea>
                          </div>
                          <div *ngIf="!surveyForm.controls.surveyQuestions.controls[i].controls['questionText'].valid"
                          class="alert alert-danger">
                              <div *ngIf="surveyForm.controls.surveyQuestions.controls[i].controls['questionText'].errors.required">
                                  Question is required
                              </div>
                          </div> 
                          <div class="form-group">
                              <label for="option">Options</label>
                              <div formArrayName="questionOptions">
                                  <div class="form-group" *ngFor="let option of surveyForm.controls.surveyQuestions.controls[i].controls.questionOptions.controls; let j=index">
                                      <!-- <div [formGroupName]="j">
                                          <input class="form-control" formControlName="optionText" type="text" >
                                          <span class="btn-icon" (click)="deleteOption(question,option)"><i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                          </span>
                                      </div> -->
                                      <div [formGroupName]="j">
                                          <div class="input-group">
                                              <textarea id="option" [froalaEditor]="optionEditor" type="text" class="form-control full-width" formControlName="optionText"></textarea>
                                              <span *ngIf="surveyForm.controls.surveyQuestions.controls[i].controls.questionOptions.controls.length > 1" class="input-group-addon btn-icon" (click)="deleteOption(i, j)"><i class="fa fa-times fa-lg"></i></span>
                                          </div>
                                          <div *ngIf="!surveyForm.controls.surveyQuestions.controls[i].controls.questionOptions.controls[j].controls['optionText'].valid"
                                          class="alert alert-danger">
                                              <div *ngIf="surveyForm.controls.surveyQuestions.controls[i].controls.questionOptions.controls[j].controls['optionText'].errors.required">
                                                  Option is required
                                              </div>
                                          </div> 
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <button mat-raised-button class="success-btn" (click)="addOption(i)" >Add Option</button>                      
                          <hr>

                          <div class="row">
                              <div class="col-12" style="text-align: right; font-size: 20px">
                                  <span *ngIf="question" class="btn-icon" matTooltip="Add Question Below" (click)="addQuestion(i)"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                  <!-- <span class="btn-icon" matTooltip="Duplicate Question" (click)="duplicateQuestion(question)"><i class="fa fa-clone" aria-hidden="true"></i></span> -->
                                  <span class="btn-icon" *ngIf="surveyForm.controls.surveyQuestions.controls.length > 1" matTooltip="Delete Question" (click)="deleteQuestion(i)"><i class="fa fa-trash"></i></span>
                                  <span class="btn-icon vertical-divider" matTooltip="Required">
                                      <mat-slide-toggle formControlName="required" [checked]="surveyForm.controls.surveyQuestions.controls[i].controls.required">Required</mat-slide-toggle> 
                                  </span>
                              </div>
                          </div> 
                      </div>
                  </div>  
              </div>
              <div class="panel-footer margin-20 row">
                  <div class="col-md-6"><button mat-raised-button class="success-btn" data-toggle="modal" data-target="#createdSurveyModal" data-keyboard="false" data-backdrop="static" [class.selected]="survey === createdSurvey"  (click)="createSurvey()" >Create</button></div><div class="col-md-6"><span class="badge" *ngIf="loadingData"><span class="glyphicon glyphicon-repeat loader"></span> Processing... Please wait </span></div>
                </div>
          </form>
      </div>
  </div>
</div>
<side-navbar></side-navbar>

<!--  -->
<!--  -->
<div id="createdSurveyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content sharp-corner">
            <div class="modal-header primary text-center">
                <button type="button" class="close" data-dismiss="modal" routerLink="/dashboard" >&times;</button>
                <h4 class="modal-title">Survey Created</h4>
            </div>
            <div class="modal-body">
                <label for="usr">Survey ID:</label>
                <p *ngIf="createdSurvey">{{createdSurvey.id}}</p>
                <label for="usr">Survey Name:</label>
                <p *ngIf="createdSurvey">{{createdSurvey.name}}</p>
                <label for="usr">Survey URL:</label>
                <div class="input-group" *ngIf="createdSurvey">
                    <input type="text" class="form-control" [(ngModel)]="createdSurvey.url" placeholder="content will be copy after click the copy button"
                            #inputTarget>
                    <span class="input-group-btn">
                        <button class="btn btn-default large"  title="Copy to clipboard" [class.btn-success]= "isCopied" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied2 = true"><span class="	glyphicon glyphicon-duplicate"></span></button>
                    </span>
                </div>
                <hr class="hr-text" data-content="Share Using" />
                <p *ngIf="createdSurvey" id="share">
                    <a class="facebook" ceiboShare  [facebook]="{u: createdSurvey.url}"><i class="fa fa-facebook"></i></a>
                    <a class="linkedin" ceiboShare  [linkedIn]="{url:createdSurvey.url}"><i class="fa fa-linkedin"></i></a>
                    <a class="googleplus" ceiboShare  [googlePlus]="{url:createdSurvey.url}"><i class="fa fa-google-plus"></i></a>
                    <a class="twitter" ceiboShare  [twitter]="{url:createdSurvey.url, text:'Do a awesome Survey ', hashtags:'survey, wesurve'}"><i class="fa fa-twitter"></i></a>                 
                </p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/dashboard">Close</button>
            </div>
            </div>
        
        </div>
        </div>