a {
    text-decoration: none;
}

.custom-panel {
    padding: 24% 2%;
}

.circle {
    display: inline-block;
    background-color: #009cdb;
    height: 55px;
    width: 55px;
    border-radius: 25px;
  }

  #big-heading{
      font-size: 75px;
      font-weight: bold;
  }

  .progress{
      border-radius: 0px;
  }

  .panel{
      margin-top:10%;
  }