.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    display: flex;
    flex: 1 1 auto;
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .custom-nav-hover{
      transition: background-color 0.7s;
  }
  .custom-nav-hover:hover{
    background-color: #ff4081;
    color: white;
  }